footer {
    margin-top: 20vw;
    height: auto;
    display: flex;
    padding: 2vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 6;
    .svg_footer {
        position: absolute;
        bottom: 150px;
        z-index: -1;
    }
    .imgFooter {
        width: 10vw;
        filter: drop-shadow(0 0 30px $bleu-fonce);
    }
    ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        li {
            padding: 20px;
            a {
                color: $blanc;
                i {
                    font-size: 1.5rem;
                    transition: all 0.3s;
                    &:hover {
                        transform: scale(1.1);
                        color: $background;
                    }
                }
            }
        }
    }
    p {
        text-align: center;
    }
}

@media screen and (max-width: 1192px) {
    footer{
        .imgFooter {
            width: 50%;
        }
    }
}