header {
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    nav {
        ul {
            display: flex;
            gap: 10px;
            li {
                a {
                    color: $blanc;
                }
            }
        }
    }
    span{
        color: $blanc;
        i{
            color: red;
            padding-inline: 5px;
        }
    }
}


@media screen and (max-width: 1192px) {
    header {
        justify-content: center;
        align-items: center;
    }
}