* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $font-titre;
  font-size: 1.125rem;
  background: url("../images/svg/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: $blanc;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
  }

a {
  text-decoration: none;
  color: $background;
  transition: color 0.3s;
  &:hover {
    color: #f2f3f4;
  }
}

aside {
  right: 50px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

aside ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

aside ul li .indicator {
  cursor: pointer;
  margin-top: 1rem;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
}

aside ul li .active {
  transform: scale(1.7);
  transition: transform 200ms ease-in-out;
}