*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: $font-titre;
  // color: $blanc;
  background-image: url('../../assets/images/png/pexels-marina-hinic-730778.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}

a{
  text-decoration: none;
  color: $background;
  transition: color 0.3s;
  &:hover{
    color: #f2f3f4;
  }
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

