@font-face {
    font-family: "Gathero";
    src: url("../fonts/Gathero-x3A70.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-size: clamp(1.5rem, -0.1667rem + 8.3333vw, 5rem);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
