/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Gathero";
  src: url("../fonts/Gathero-x3A70.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
h1 {
  font-size: clamp(1.5rem, -0.1667rem + 8.3333vw, 5rem);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Gathero";
  font-size: 1.125rem;
  background: url("../images/svg/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #e9e8fc;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #00091f;
  transition: color 0.3s;
}
a:hover {
  color: #f2f3f4;
}

aside {
  right: 50px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

aside ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

aside ul li .indicator {
  cursor: pointer;
  margin-top: 1rem;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
}

aside ul li .active {
  transform: scale(1.7);
  transition: transform 200ms ease-in-out;
}

@media screen and (max-width: 1192px) {
  aside {
    display: none;
  }
}
header {
  height: 80px;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
header span {
  color: #e9e8fc;
}
header span i {
  color: red;
  padding-inline: 5px;
}

@media screen and (max-width: 1192px) {
  header {
    justify-content: center;
    align-items: center;
  }
}
.hero {
  height: calc(110vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.hero h1 {
  color: #e9e8fc;
  text-transform: uppercase;
  text-shadow: #e9e8fc 0px 0px 15px;
  margin-bottom: 15vh;
}
.hero .scroll-down {
  position: absolute;
  bottom: 15vh;
  transform: translate(-50%, -50%);
}
.hero .scroll-down span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #e9e8fc;
  border-right: 2px solid #e9e8fc;
  transform: rotate(45deg);
  margin: -10px;
  animation: scrollAnimation 2s infinite;
}
.hero .scroll-down span:nth-child(2) {
  animation-delay: -0.2s;
}
.hero .scroll-down span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes scrollAnimation {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.canvas1 {
  height: 100vh;
  background: #07062c;
  display: flex;
  padding: 4vw 5vw;
  justify-content: center;
  align-items: center;
  position: relative;
}
.canvas1 .svg_transition {
  top: -35vh;
  position: absolute;
  width: 100%;
}
.canvas1 p {
  margin-block: 3vh;
  padding-right: 5vw;
  line-height: 2;
}
.canvas1 .column {
  float: left;
}
.canvas1 .left {
  width: 50%;
}
.canvas1 .left .lien {
  color: #00091f;
  background: #e9e8fc;
  padding: 10px;
  transition: all 0.5s;
}
.canvas1 .left .lien:hover {
  background: #00091f;
  color: #e9e8fc;
  transform: scale(0.9);
}
.canvas1 .right {
  width: 50%;
}
.canvas1 #graphique2 {
  background-color: #e9e8fc;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
}
@media screen and (max-width: 1192px) {
  .canvas1 .column {
    width: 100%;
  }
  .canvas1 .svg_transition {
    display: none;
  }
  .canvas1 .canvas1 p {
    text-align: center;
  }
  .canvas1 #graphique2 {
    margin-block: 5vh;
    width: 100%;
  }
}

.canvas2 {
  height: 100vh;
  background: #00091f;
  display: flex;
  padding: 4vw 5vw;
  justify-content: center;
  align-items: center;
  text-align: right;
}
.canvas2 p {
  padding-left: 5vw;
  margin-block: 3vh;
  line-height: 2;
}
.canvas2 .column {
  float: left;
}
.canvas2 .left {
  width: 50%;
}
.canvas2 .right {
  width: 50%;
}
.canvas2 .right .lien {
  color: #00091f;
  background: #e9e8fc;
  padding: 10px;
  transition: all 0.5s;
}
.canvas2 .right .lien:hover {
  background: #00091f;
  color: #e9e8fc;
  transform: scale(0.9);
}
.canvas2 #graphique2 {
  background-color: #e9e8fc;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
}
@media screen and (max-width: 1192px) {
  .canvas2 .column {
    width: 100%;
  }
  .canvas2 #graphique2 {
    background-color: #e9e8fc;
    padding: 1rem;
    width: 100%;
  }
}

.chart3 {
  height: 100vh;
  padding: 5vw;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.chart3 .header_chart {
  display: flex;
  flex-direction: column;
}
.chart3 .header_chart .header_colonne_gauche {
  flex: 50%;
}
.chart3 .header_chart .header_colonne_gauche h1 {
  background: #e9e8fc;
  padding: 0.5rem 1rem;
  mix-blend-mode: screen;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bolds;
}
.chart3 .header_chart .header_colonne_droite {
  flex: 50%;
}
.chart3 .header_chart .header_colonne_droite label {
  color: #e9e8fc;
  font-weight: bold;
  display: none;
}
.chart3 .header_chart .header_colonne_droite select {
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem;
  margin-block: 2vh;
  font-family: "Gathero";
  text-align: center;
}
.chart3 p {
  margin-top: 5vw;
  color: #00091f;
  background: #e9e8fc;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: justify;
}
.chart3 #graphique3 {
  background-color: #e9e8fc;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.preloader {
  height: 100vh;
  position: absolute;
}
.preloader .loader {
  background: url("../../assets/images/svg/loader.svg") 50% 50% no-repeat #00091f;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader .loader h1 {
  font-size: 1.5rem;
  width: 30%;
  text-align: center;
  margin-top: 20vh;
}

/*# sourceMappingURL=style.css.map */
