.wikiplane{
    height: auto;
    padding: 4vw 5vw;
    // background: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .column {
        float: left;
    }

    .left {
        width: 50%;
        height: 70vh;
        background-color: $blanc;
        border-radius: 10px;
        form{
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;
            padding: 20px;
            color: $background;
            padding: 1rem;
            width: 100%;
            height: 70vh;
            label{
                margin-block: 2vh;
            }
            select{
                font-family: $font-titre;
                background: $blanc-clair;
                cursor: pointer;
                font-size: 1.125rem;
                border: none;
                padding: 20px;
                border-radius: 5px;
                width: 100%;
                margin-block-end: 2vh;
            }
            input[type="submit"]{
                font-family: $font-titre;
                font-size: 1.125rem;
                background: $blanc-clair;
                margin-block: 20px;
                border: none;
                padding: 20px;
                border-radius: 5px;
                width: 100%;
                transition: all 0.3s;
                cursor: pointer;
                &:hover{
                    background: $background;
                    color: $blanc;
                    transform: scale(0.99);
                }
            }
            hr{
                width: 50%;
                border: 1px solid $blanc-clair;
            }
            p{
                margin-block: 2vh;
            }
            .divImg{
                background: $blanc-clair;
                padding: 20px;
                border-radius: 5px;
                height: 40vh;
                overflow: hidden;
                img{
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                    -webkit-animation: animationAvion 2s infinite  alternate;
                    animation: animationAvion 2s infinite  alternate;
                    opacity: 0;
                    @keyframes animationAvion {
                        0% { transform: translateY(0); }
                        100% { transform: translateY(-10px); }
                    }
                }
            }
        }
    }

    .right {
        width: 50%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        h1{
            text-shadow: $blanc 0px 0px 15px;
            text-align: right;
            margin-bottom: 2vh;
        }
        p {
            padding-left: 5vw;
            line-height: 2;
            text-align: right;
        }
    }
}