.canvas {
    height: calc(100vh - 80px);
    background: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        margin-inline: 5vw;
    }
}

.canvas2 {
    height: calc(100vh - 80px);
    background: $bleu-fonce;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vw;
    h1 {
        background: $blanc;
        padding: 0.5rem 1rem;
        mix-blend-mode: screen;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bolds;
        margin-block: 2vh;
    }
    #graphique2{
        background-color: $blanc;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        width: 50%;
    }
}

.chart3 {
    height: auto;
    padding: 5vw;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    .header_chart{
        display: flex;
        flex-direction: column;
        .header_colonne_gauche{
            flex: 50%;
            h1 {
                background: $blanc;
                padding: 0.5rem 1rem;
                mix-blend-mode: screen;
                border-radius: 5px;
                text-transform: uppercase;
                font-weight: bolds;
            }
        }
        .header_colonne_droite{
            flex: 50%;
            label{
                color: $blanc;
                font-weight: bold;
                display: none;
            }
            select{
                border-radius: 5px;
                border: none;
                padding: 0.5rem 1rem;
                margin-block: 2vh;
                font-family: $font-titre;
                text-align: center;
            }
        }
    }
    p {
        margin-top: 5vw;
        color: $background;
        background: $blanc;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        text-align: justify;
    }
    #graphique3{
        background-color: $blanc;
        padding: 0.5rem 1rem;
        border-radius: 5px;
    }
}
