.canvas1 {
    height: 100vh;
    background: $bleu-fonce;
    display: flex;
    padding: 4vw 5vw;
    justify-content: center;
    align-items: center;
    position: relative;
    .svg_transition{
        top: -35vh;
        position: absolute;
        width: 100%;
    }
    p {
        margin-block: 3vh;
        padding-right: 5vw;
        line-height: 2;
    }
    .column {
        float: left;
    }

    .left {
        width: 50%;
        .lien {
            color: $background;
            background: $blanc;
            padding: 10px;
            transition: all 0.5s;
            &:hover {
                background: $background;
                color: $blanc;
                transform: scale(0.9);
            }
        }
    }

    .right {
        width: 50%;
    }

    #graphique1 {
        background-color: $blanc;
        padding: 1rem;
        border-radius: 10px;
        width: 100%;
    }

    @media screen and (max-width: 1192px) {
        .column {
            width: 100%;
        }

        .svg_transition{
            display: none;
        }

        .canvas1 {
            p {
                text-align: center;
            }
        }

        #graphique1 {
            margin-block: 5vh;
            width: 100%;
        }
    }
}

.canvas2 {
    height: 100vh;
    background: $background;
    display: flex;
    padding: 4vw 5vw;
    justify-content: center;
    align-items: center;
    text-align: right;
    p {
        padding-left: 5vw;
        margin-block: 3vh;
        line-height: 2;
    }
    .column {
        float: left;
    }

    .left {
        width: 50%;
    }

    .right {
        width: 50%;
        .lien {
            color: $background;
            background: $blanc;
            padding: 10px;
            transition: all 0.5s;
            &:hover {
                background: $background;
                color: $blanc;
                transform: scale(0.9);
            }
        }
    }

    #graphique2 {
        background-color: $blanc;
        padding: 1rem;
        border-radius: 10px;
        width: 100%;
    }

    @media screen and (max-width: 1192px) {
        .column {
            width: 100%;
        }

        #graphique2 {
            background-color: $blanc;
            padding: 1rem;
            width: 100%;
        }
    }
}

.chart3 {
    height: 100vh;
    padding: 5vw;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    .header_chart {
        display: flex;
        flex-direction: column;
        .header_colonne_gauche {
            flex: 50%;
            h1 {
                background: $blanc;
                padding: 0.5rem 1rem;
                mix-blend-mode: screen;
                border-radius: 5px;
                text-transform: uppercase;
                font-weight: bolds;
            }
        }
        .header_colonne_droite {
            flex: 50%;
            label {
                color: $blanc;
                font-weight: bold;
                display: none;
            }
            select {
                border-radius: 5px;
                border: none;
                padding: 0.5rem 1rem;
                margin-block: 2vh;
                font-family: $font-titre;
                text-align: center;
            }
        }
    }
    p {
        margin-top: 5vw;
        color: $background;
        background: $blanc;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        text-align: justify;
    }
    #graphique3 {
        background-color: $blanc;
        padding: 0.5rem 1rem;
        border-radius: 5px;
    }
}
