.hero{
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    h1{
        font-size: 2rem;
        background-color: $blanc;
        padding: 0.5rem 1rem;
        mix-blend-mode: screen;
    }
    p{
        width: 40%;
        padding: 20px;
        text-align: center;
        font-size: 1rem;
    }
}
