.hero {
    height: calc(110vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    h1 {
        color: $blanc;
        text-transform: uppercase;
        text-shadow: $blanc 0px 0px 15px;
        margin-bottom: 15vh;
    }

    .scroll-down {
        position: absolute;
        bottom: 15vh;
        transform: translate(-50%, -50%);
        span {
            &:nth-child(2) {
                animation-delay: -0.2s;
            }
            &:nth-child(3) {
                animation-delay: -0.4s;
            }
            display: block;
            width: 20px;
            height: 20px;
            border-bottom: 2px solid $blanc;
            border-right: 2px solid $blanc;
            transform: rotate(45deg);
            margin: -10px;
            animation: scrollAnimation 2s infinite;
        }
    }

    @keyframes scrollAnimation {
        0% {
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: rotate(45deg) translate(20px, 20px);
        }
    }
}
